## Case study 1

### About the Data set (Wine Quality.csv)
Attribute Information:

The dataset are related to red and white variants of the "Vinho Verde" wine. Vinho verde is a unique product from the Minho (northwest) region of Portugal. Medium in alcohol, is it particularly appreciated due to its freshness (specially in the summer). 

    1 - fixed acidity 
    2 - volatile acidity 
    3 - citric acid 
    4 - residual sugar 
    5 - chlorides 
    6 - free sulfur dioxide 
    7 - total sulfur dioxide 
    8 - density 
    9 - pH 
    10 - sulphates 
    11 - alcohol Output variable (based on sensory data): 
    12 - quality (score between 0 and 10)

## 1. Load the libraries:

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as sts

## 2. Importing the dataset:

In [16]:
wine = pd.read_csv('Wine_data.csv')

In [17]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [18]:
# shape of the dataset
wine.shape

(4898, 12)

In [19]:
# null values in the data set
wine.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [20]:
# summary stats of the dataset
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

## 3.EDA Descriptive Statistics:

### 3.1.  Measures of Central Tendency

Measures of Central Tendency define significant, representative and adequate values for a set of data, depending on what you want to analyze. They are the 

1. mean
2. median
3. quantiles and mode.

### 3.2 Check the  mean ,Mode, Median and Quantile for dataset?

#### Mean

In [21]:
wine.mean()

fixed acidity             6.854788
volatile acidity          0.278241
citric acid               0.334192
residual sugar            6.391415
chlorides                 0.045772
free sulfur dioxide      35.308085
total sulfur dioxide    138.360657
density                   0.994027
pH                        3.188267
sulphates                 0.489847
alcohol                  10.514267
quality                   5.877909
dtype: float64

#### Mode

In [25]:
wine['quality'].mode()

0    6
dtype: int64

#### Median and Quantile

In [26]:
wine['pH'].median()

3.18

### 3.4 check (Quantile 25%,50%,75%) for dataset

#### Quantile 25%

In [27]:
print('Q1 of pH',wine['pH'].quantile(0.25))

Q1 of pH 3.09


#### Quantile 50%

In [28]:
print('Q2 of pH',wine['pH'].quantile(0.5))

Q2 of pH 3.18

#### Quantile 75%

In [29]:
print('Q3 of pH',wine['pH'].quantile(0.75))

Q3 of pH 3.28

## 4. Measures of Dispersion

Measures of Dispersion are measures that indicate how spread the data is, or how they vary. The measures of dispersion are range, variance, standard deviation and the absolute deviation, or mean absolute deviation.

### 4.1 check the Range,Variance,Standard Deviation,Absolute Deviation or Mean Absolute Deviation?

#### Range

In [30]:
print('Range of alcohol is',max(wine['alcohol']) - min(wine['alcohol']))

Range of alcohol is 6.199999999999999

#### Variance

In [31]:
print('Variance of wine data set is')
print(wine.var())

Variance of wine data set is
fixed acidity              0.712114
volatile acidity           0.010160
citric acid                0.014646
residual sugar            25.725770
chlorides                  0.000477
free sulfur dioxide      289.242720
total sulfur dioxide    1806.085491
density                    0.000009
pH                         0.022801
sulphates                  0.013025
alcohol                    1.514427
quality                    0.784356
dtype: float64

#### Standard Deviation

In [32]:
print('Standard deviation of wine data set is')
print(wine.std())

Standard deviation of wine data set is
fixed acidity            0.843868
volatile acidity         0.100795
citric acid              0.121020
residual sugar           5.072058
chlorides                0.021848
free sulfur dioxide     17.007137
total sulfur dioxide    42.498065
density                  0.002991
pH                       0.151001
sulphates                0.114126
alcohol                  1.230621
quality                  0.885639
dtype: float64

#### Absolute Deviation or Mean Absolute Deviation

In [33]:
print('Mean absolute deviation of wine data set is')
print(wine.mad())

Mean absolute deviation of wine data set is
fixed acidity            0.644923
volatile acidity         0.073803
citric acid              0.086411
residual sugar           4.227788
chlorides                0.011462
free sulfur dioxide     13.149156
total sulfur dioxide    34.282442
density                  0.002447
pH                       0.118204
sulphates                0.087504
alcohol                  1.034213
quality                  0.670793
dtype: float64

## 5. Covariance and Correlation

1. Covariance is a numerical measure that indicates the inter-dependency between two variables. 
2. Covariance indicates how two variables behave together in relation to their averages. 
3. A covariance of 0 indicates that the variables are totally independant, while a high and positive covariance value means that a variable is big when the other is big. Analogously, a negative covariance with a high absolute value means that one variable is big when the other is small.
4. Covariance can be calculated through the cov() function.

### 5.1 Check the Covariance and Correlation scores . write your Observations?

#### Covariance

In [34]:
wine[['sulphates', 'alcohol', 'pH']].cov()

           sulphates   alcohol        pH
sulphates   0.013025 -0.002448  0.002688
alcohol    -0.002448  1.514427  0.022565
pH          0.002688  0.022565  0.022801

#### Observation:

sulphates and alcohol are negatively correlated. Its likeas sulphate content increases the alcohol content decreases.
sulphates and pH are positively correlated, if pH increases then sulpahte content also increases. Similarly, pH and alcohol
is also positively correlated.

#### Correlation

In [35]:
wine[['sulphates', 'alcohol', 'pH']].cov()

           sulphates   alcohol        pH
sulphates   0.013025 -0.002448  0.002688
alcohol    -0.002448  1.514427  0.022565
pH          0.002688  0.022565  0.022801

#### Observation:

Correlation is same as covariance but correlation has border oftheir values. The value of correlation will be between -1 and 1.
If the value is negative integer, then it suggests that it is indirectly proportional, higher the magnitude, the more it varies. While if it is positive integer then it is directly proportional. If it is 0, then the values are not dependent on each other.

# The End