In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('baseballs.csv')
df.head(3)

   0.283  0.144  0.049  0.012  0.013  0.086
0  0.276  0.125  0.039  0.013  0.002  0.062
1  0.281  0.141  0.045  0.021  0.013  0.074
2  0.328  0.189  0.043  0.001  0.030  0.032